//@import '../components/login/login.page.scss';

/* ion-content {
    --background: #DAB3E9;
    font-family: 'Roboto', sans-serif;
  }

  .texto {
    color: #4A2C5B;
  }

  ion-button {
    --background: #A066D9;
    --color: #FFFFFF;
  } */


  
  ion-content {
    font-family: 'Roboto', sans-serif;
    background-image: url("./../../../assets/img/building.jpg"); /* Usamos url() para el background */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }
  
  ion-card {
    flex: 0 0 auto; 
    text-align: center;
  }
  
  .button-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    max-height: 100vh;
    background-image: '../../../assets/img/building.jpg';
  }
  
  .sala-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48vh;
    background-color: rgba(23, 136, 19, 0.8);
    color: #ffffff;
    cursor: pointer;
    --box-shadow: 0px 2px 2px #08042c;
    --border-radius: 26px;
    --transition: .2s;
    //text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f, 0 0 70px #00f;
  }
  
  .sala-cardDos {
    color:#08042c;
    background-color: rgba(136, 19, 25, 0.8);  
  }
  
  .sala-card ion-card-content p {
    font-size: 42px;
    font-weight: bold;
    margin: 0;
  }
  
  .logout-container {
    flex: 0 0 auto; 
    display: flex;
    justify-content: center;
    padding: 16px;
  }
  
  .fabNeon{
    --background: rgba(17, 0, 255, 0.4);
    --color: #ffffff;
  }

  ion-icon {
    font-size: 50px;

    .heart {
      color: red !important;
    }

    .skull {
      --color: black !important;
    }
  }

