//este archivo al final no me sirvió


// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

$fondo: #DAB3E9;
$fuente: #4A2C5B;
$boton: #A066D9;
$fuente-boton: #FFFFFF;