@import '../components/login/login.page.scss';

/* ion-content {
    --background: #DAB3E9;
    font-family: 'Roboto', sans-serif;
  }

  .texto {
    color: #4A2C5B;
  }

  ion-button {
    --background: #A066D9;
    --color: #FFFFFF;
  } */