.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #39225B;
  z-index: 1000;
  animation: colorChange 4s ease-in-out infinite;
  width: 100vw;
  height: 100vh;
}

@keyframes colorChange {
  0% { background-color: #39225B; }
  100% { background-color: #DAB3E9; }
}

.splash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  height: 80%; 
  width: 100%;
  padding: 0 20px;
}

.splash-logo {
  width: 150px; 
  height: 150px;
  opacity: 0;
  animation: fadeInLogo 2s ease-in-out 1.5s forwards;
}

.splash-text h1 {
  margin: 0;
  font-size: 3rem; 
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.splash-text h1:first-child {
  margin-bottom: 10px;
}

.splash-content p {
  font-size: 2rem; 
  text-align: center;
  margin-top: 20px;
}

@keyframes zoomIn {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes fadeInLogo {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
