.form-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo_animado {
  animation: rotatePause 6s infinite;
  margin-top: 15%;
}

@keyframes rotatePause {
  0% {
    transform: rotate(0deg); 
  }
  15% {
    transform: rotate(0deg);
  }
  19% {
    transform: rotate(185deg); 
  }
  20% {
    transform: rotate(180deg); 
  }
  65% {
    transform: rotate(180deg); 
  }
  69% {
    transform: rotate(365deg); 
  }
  70% {
    transform: rotate(360deg); 
  }
  100% {
    transform: rotate(360deg);
  }
}

  ion-content {
    font-family: 'Roboto', sans-serif;
    background-image: url("./../../../assets/img/building.jpg"); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
  }

  .texto {
    color: #4A2C5B;
  }

  ion-button {
    --background: #A066D9;
    --color: #FFFFFF;
  }

  .primary {
    --background: #DAB3E9;
    --ion-color-primary: #DAB3E9;
    --ion-color-primary-contrast: #4A2C5B;
  }

  .secondary {
    --background: #A066D9;
    --ion-color-secondary: #A066D9;
    --ion-color-secondary-contrast: #FFFFFF;
  }

.form-signin {
    padding: 1rem;
    background-color: rgba($color: #DAB3E9, $alpha: 0.7);
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .fab-container {
    position: fixed;
    bottom: 100px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .fab-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
    transition: transform 0.3s, opacity 0.3s;
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
  }
  
  .fab-buttons.open {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }
  
  .fab-sub-button {
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
  }
  
  .fab-sub-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }