/* ion-fab {
    --ion-color-primary: #3880ff;
  }
  
  ion-fab-button {
    --background: #3880ff;
  }
   */


  ion-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  ion-card {
    margin: 20px 0;
  }
  